.input_box {
    width: 100%;
    background-color: aliceblue;
    padding: .5rem;
    border-radius: 2rem;

}

.input_box input {
    background-color: transparent;
    border: 0;
    width: 100%;
    outline: none;
    padding-inline: .5rem;
    color: black;
}

.input_box input::placeholder {
    color: green;
    font-weight: 500;
    text-transform: uppercase;
}